CMakeCache.txt

*.pydevproject

*.xcworkspace
*_ReSharper*
build*/
xcode-build*/
docs/html
docs/build
/man/
*~
Debug/
Release/
.DS_Store
._.DS_Store
.idea
.project
.cproject
.metadata
*.user
*.sdf
*.opensdf
/config/
xcuserdata
xcodebuild*/
*.vagrant/
*embedded-dev/
StyleCop.Cache

